* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
 color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family "Droid Sans Mono", Monaco, "Courier New", monospace, sans-serif;
  font-size: 80%;
}

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .tile a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .meta img {
  vertical-align: middle;
  margin-right: 0.4em;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

#profile {
}

#profile table {
	margin-left: 1.35em;
}

#profile table td {
  padding: .4em;
}

#post {
}

#post hr {
  border: 0;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post pre code.long {
  display: block;
  overflow-x: scroll;
}

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

#post img {
  max-width: 100%;
}

#post blockquote {
  background-color: #f3f3f7;
  border-left: 10px solid #ccc;
  margin: 1.5em 0 1.5em 3em;
  padding: .5em 10px;
}

#post blockquote p {
  display:inline
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}
